launch-ecoli-annotation_REF+ExternalDB.sh
Ecoli-RayAssembly-Annotation-REF+ExternalDB
Ecoli-RayAssembly-Annotation-REF+NCBIremote
Ecoli-RayAssembly-Annotation-REF+NRremote
remote-blast
prot2003-2014.fa
bacterial-annotator-0.0.1.gem
